body {
	padding-left: 11em;
	font-family: Helvetica, Georgia, "Times New Roman",
	Times, serif;
	color: black;
	background-color: white;}
ul.navbar {
	position: absolute;
	top : 2em;
	left : 2em;
	width: 10em}
h1{
	font-family : Helvetica, Geneva, Arial,
	Sunsans-Regular, sans-serif}
h2{
	font-family: Helvetica, Georgia, Arial,
	SunSans-Regular, sans-serif}
ul.navbar a {
	text.decoration: none}
a:link{
	color: blue}
a:visited{
	color : grey}
p{
	padding-left : 0em;
	color: black}
h3{
	color: black;}
pad{
	padding-left:2em;
}
